body {
  background-color: #bca5ec;
}

#a {
  color: antiquewhite;
}
#shaden {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
